<?xml version="1.0" encoding="utf-8" ?> 
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true"
      autoReload="true"
      internalLogFile="wifisitter_nlog.txt">

    <targets>
        <target name="logfile" xsi:type="File" fileName="wifisitter.log" layout="${longdate}|${level:uppercase=true}|${logger}|${threadid}|${message}|${exception:format=tostring}" />
        <target name="logconsole" xsi:type="ColoredConsole" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
        <target xsi:type="EventLog"
          name="eventViewer"
          machineName="."
          source="Wifi Sitter"
          log="Application"
          OptimizeBufferReuse="true"/>
    </targets>

    <rules>
      <!--<logger name="*" minlevel="Info" writeTo="logfile" />-->
      <logger name="*" minlevel="Debug" writeTo="logconsole" />
      <logger name="*" minlevel="Info" writeTo="eventViewer" />
    </rules>
</nlog>