<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncIO" version="0.1.69" targetFramework="net461" />
  <package id="ConsoleTableExt" version="2.0.2" targetFramework="net461" />
  <package id="Costura.Fody" version="4.0.0" targetFramework="net461" />
  <package id="Fody" version="5.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="NetMQ" version="4.0.0.207" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="NLog" version="4.6.6" targetFramework="net461" />
  <package id="System.Collections.NonGeneric" version="4.3.0" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net461" />
  <package id="System.Reactive" version="4.1.5" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net461" />
  <package id="System.Runtime.Serialization.Formatters" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="Theraot.Core" version="3.0.3" targetFramework="net461" />
  <package id="Vanara.Core" version="2.3.11" targetFramework="net461" />
  <package id="Vanara.PInvoke.IpHlpApi" version="2.3.11" targetFramework="net461" />
  <package id="Vanara.PInvoke.Kernel32" version="2.3.11" targetFramework="net461" />
  <package id="Vanara.PInvoke.Shared" version="2.3.11" targetFramework="net461" />
  <package id="Vanara.PInvoke.Ws2_32" version="2.3.11" targetFramework="net461" />
</packages>