<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
  >
  <?define WifiSitter_TargetDir=$(var.WifiSitter.TargetDir)?>
  <?define WifiSitterShared_TargetDir=$(var.WifiSitterShared.TargetDir)?>
  <?define WifiSitterGui_TargetDir=$(var.WifiSitterGui.TargetDir)?>
  <?define WifiSitterGui_ResourceDir=$(var.WifiSitterGui.ProjectDir)Resources/?>
  <Product Id="*" Name="WifiSitter" Language="1033" Version="2.0.5.0" Manufacturer="mcardletech.com" UpgradeCode="23a42c57-a16c-4b93-a5cb-60cff20c1f7a">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated"/>
    <Icon Id="icon.ico" SourceFile="$(var.WifiSitter.ProjectDir)wifisitter-icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    <Property Id='ARPREADME'></Property>
    <Property Id='ARPCONTACT'>sean@mcardletech.com</Property>
    <Property Id='ARPURLINFOABOUT'>https://github.com/sean-m/wifi-sitter</Property>

    <MajorUpgrade Schedule="afterInstallInitialize"
                  DowngradeErrorMessage="A later version of [ProductName] is already installed"
                  AllowSameVersionUpgrades="yes"/>
    
    <MediaTemplate EmbedCab="yes"/>
      
    <Feature Id="ProductFeature" Title="WifiSitterService" Level="1">
      <ComponentGroupRef Id="WifiSitterServiceProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="WifiSitter" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="WifiSitterServiceProductComponents" Directory="INSTALLFOLDER">

      <Component Id="ProductComponent">
        <!--Registry Entries-->
        <RegistryKey Root="HKLM" Key="SYSTEM\CurrentControlSet\Services\WifiSitter\NicWhiteList" Action="createAndRemoveOnUninstall">
          <RegistryValue Type="string" Name="0" Value="Microsoft Wi-Fi Direct" />
          <RegistryValue Type="string" Name="1" Value="VirtualBox Host" />
          <RegistryValue Type="string" Name="2" Value="VMware Network Adapter" />
          <RegistryValue Type="string" Name="3" Value="Hyper-V Virtual" />
          <RegistryValue Type="string" Name="4" Value="Microsoft Kernel"/>
          <RegistryValue Type="string" Name="5" Value="Bluetooth Device"/>
          <RegistryValue Type="string" Name="6" Value="Microsoft Teredo"/>
          <RegistryValue Type="string" Name="7" Value="Microsoft IP-HTTP"/>
          <RegistryValue Type="string" Name="8" Value="Microsoft 6to4"/>
          <RegistryValue Type="string" Name="9" Value="WAN Miniport"/>
        </RegistryKey>

        <!--Setup Event Source-->
        <util:EventSource
          Name="Wifi Sitter"
          Log="Application"
          EventMessageFile="[NETFRAMEWORK40FULLINSTALLROOTDIR]EventLogMessages.dll"
          />
      </Component>

      <!--Mapped Application Files-->
      <Component Id="WifiSitter.exe" Guid="6d83eee4-3d4e-48fd-a534-1a278ae1c795">
        <File Id="WifiSitter.exe" Name="WifiSitter.exe" Source="$(var.WifiSitter_TargetDir)WifiSitter.exe" />
        <ServiceInstall
            Id="WifiSitter.exe"
            Type="ownProcess"
            Name="wifisitter"
            DisplayName="WifiSitter"
            Description="Manages WiFi adapters based on wired ethernet connectivity."
            Arguments="/service"
            Start="auto"
            Account="NT AUTHORITY\System"
            ErrorControl="normal"
            Vital="yes">
            <ServiceDependency Id="netprofm"/>
            <util:ServiceConfig ServiceName="wifisitter"
                                FirstFailureActionType="restart"
                                SecondFailureActionType="restart"
                                ThirdFailureActionType="restart"
                                RestartServiceDelayInSeconds="10"
                                ResetPeriodInDays="1"/>
          </ServiceInstall>
          <ServiceControl Id="WifiSitter.exe_install" Start="install" Name="wifisitter" Wait="no" />
          <ServiceControl Id="WifiSitter.exe_uninstall" Stop="both" Remove="uninstall" Name="wifisitter" Wait="yes" />
      </Component>

      <Component Id="NLog.config" Guid="004def38-c3de-4c2e-9b84-c1e98d3b92f8">
        <File Id="NLog.config" Name="NLog.config" Source="$(var.WifiSitter_TargetDir)NLog.config" />
      </Component>
      
      <Component Id="Interop.NETWORKLIST.dll" Guid="0ec68a32-c0e0-4e59-9301-d47cb5bee0d4">
        <File Id="Interop.NETWORKLIST.dll" Name="Interop.NETWORKLIST.dll" Source="$(var.WifiSitter_TargetDir)Interop.NETWORKLIST.dll" />
      </Component>
      
      <Component Id="WifiSitterGui.exe" Guid="74214fd0-798e-4bce-bc56-d519103c8f20">
        <File Id="WifiSitterGui.exe" Name="WifiSitterGui.exe" Source="$(var.WifiSitterGui_TargetDir)WifiSitterGui.exe" />
      </Component>

      <!--Resource Files-->
      <Component Id="readme" Guid="048EC0DF-F952-4820-B7BC-4D9D9F5DC995">
        <File Id="readme" Name="ReadMe.rtf" Source="$(var.WifiSitterGui_ResourceDir)ReadMe.rtf" />
      </Component>

    </ComponentGroup>
  </Fragment>
</Wix>
