<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define WifiSitter_TargetDir=$(var.WifiSitter.TargetDir)?>
  <?define WifiSitterShared_TargetDir=$(var.WifiSitterShared.TargetDir)?>
  <?define WifiSitterGui_TargetDir=$(var.WifiSitterGui.TargetDir)?>
  <?define WifiSitterGui_ResourceDir=$(var.WifiSitterGui.ProjectDir)Resources/?>
  <Product Id="*" Name="WifiSitter" Language="1033" Version="2.0.0.0" Manufacturer="mcardletech.com" UpgradeCode="23a42c57-a16c-4b93-a5cb-60cff20c1f7a">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <Icon Id="icon.ico" SourceFile="$(var.WifiSitter.ProjectDir)wifisitter-icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    <Property Id='ARPREADME'></Property>
    <Property Id='ARPCONTACT'>sean@mcardletech.com</Property>
    <Property Id='ARPURLINFOABOUT'>https://github.com/sean-m/wifi-sitter</Property>

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes"/>

    <Feature Id="ProductFeature" Title="WifiSitterSetup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="WifiSitter" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductComponent">

        <!--Registry Entries-->
        <RegistryKey Root="HKLM" Key="SYSTEM\CurrentControlSet\Services\WifiSitter" Action="createAndRemoveOnUninstall">
          <RegistryValue Type="integer" Name="Type" Value="16"/>
          <RegistryValue Type="integer" Name="Start" Value="2"/>
          <RegistryValue Type="integer" Name="ErrorControl" Value="1"/>
          <RegistryValue Type="string" Name="ImagePath" Value="&quot;$(env.ProgramFiles(x86))\WifiSitter.exe&quot; /service" />
          <RegistryValue Type="string" Name="DisplayName" Value="WifiSitter" />
          <RegistryValue Type="string" Name="ObjectName" Value="LocalSystem" />
          <RegistryValue Type="string" Name="Description" Value="Manages WiFi adapters based on wired ethernet connectivity." />
          <RegistryValue Type="integer" Name="DelayedAutostart" Value="1" KeyPath="yes" />
          <RegistryValue Type="multiString" Name="DependOnService" Action="write">
            <MultiStringValue>netprofm</MultiStringValue>
          </RegistryValue>
          <RegistryValue Type="binary" Name="FailureActions" Value="00000000000000000000000003000000140000000100000060ea00000100000060ea00000100000060ea0000" />
          <RegistryValue Type="string" Value="Default Value" />
        </RegistryKey>

        <RegistryKey Root="HKLM" Key="SYSTEM\CurrentControlSet\Services\WifiSitter\NicWhiteList" Action="createAndRemoveOnUninstall">
          <RegistryValue Type="string" Name="0" Value="Microsoft Wi-Fi Direct" />
          <RegistryValue Type="string" Name="1" Value="VirtualBox Host" />
          <RegistryValue Type="string" Name="2" Value="VMware Network Adapter" />
          <RegistryValue Type="string" Name="3" Value="Hyper-V Virtual" />
        </RegistryKey>

      </Component>
      
      <!--Mapped Application Files-->
      <Component Id="WifiSitter.exe" Guid="6d83eee4-3d4e-48fd-a534-1a278ae1c795">
        <File Id="WifiSitter.exe" Name="WifiSitter.exe" Source="$(var.WifiSitter_TargetDir)WifiSitter.exe" />
      </Component>
      <Component Id="Interop.NETWORKLIST.dll" Guid="0ec68a32-c0e0-4e59-9301-d47cb5bee0d4">
        <File Id="Interop.NETWORKLIST.dll" Name="Interop.NETWORKLIST.dll" Source="$(var.WifiSitter_TargetDir)Interop.NETWORKLIST.dll" />
      </Component>
      <Component Id="WifiSitterGui.exe" Guid="74214fd0-798e-4bce-bc56-d519103c8f20">
        <File Id="WifiSitterGui.exe" Name="WifiSitterGui.exe" Source="$(var.WifiSitterGui_TargetDir)WifiSitterGui.exe" />
      </Component>
      
      <!--Resource Files-->
      <Component Id="readme" Guid="048EC0DF-F952-4820-B7BC-4D9D9F5DC995">
        <File Id="readme" Name="ReadMe.rtf" Source="$(var.WifiSitterGui_ResourceDir)ReadMe.rtf" />
      </Component>
      
    </ComponentGroup>
  </Fragment>
</Wix>
