<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="INSTALLLOCATION" Name="WifiSitter">
          <Merge Id="WifiSitterInstallMM" SourceFile="$(var.WifiSitterInstallMM.TargetPath)" DiskId="1" Language="1033" />
        </Directory>
      </Directory>
    </Directory>

    <FeatureGroup Id="features">
      <Feature Id="WifiSitterService" Title="WifiSitter Service" Description="Installs WifiSitter service."
               Level="1" AllowAdvertise="no" Absent="disallow" InstallDefault="local" TypicalDefault="install">
        <MergeRef Id="WifiSitterInstallMM" />
      </Feature>
    </FeatureGroup>
  </Fragment>
</Wix>